
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 2012
#PROJECT_DEFS#
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
#BUILD_CONFIGS#
	EndGlobalSection
EndGlobal
